nav {
  /* border: 1px solid red; */
  display: flex;
  height: 12vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  z-index: 1001;
}

.logo {
  min-height: 70px;
  /* max-height: 75px; */
  min-width: 125px;
  max-width: 75px;
  padding: .1em 0em 0em .5em;
}

.modal {
  height: 88vh;
  width: 100%;
  position: fixed;
  top: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  /* border: 1px solid black; */
  background-color: black;
  z-index: 9000;
}


.modal a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: 600;
  border-bottom: .1px solid darkgray;
  padding: .5em 0;
  text-transform: capitalize;
}

.modal a:hover {
  color: darkgray
}

#employees-link { 
  color: orange;
}

#employees-link:hover {
  color: darkgray
}

/* HAMBURGER BUTTON STYLE */
#wrapper {
	background:black;
  display:inline-block;
  border: .5px solid #03aadd;
	border-radius:10px;
	margin:10px;
	position: relative;
  padding:10px;
	cursor:pointer;
}
.circle {
	width:30px;
	height:30px;
	position:relative;
}
.line {
	position: absolute;
	height: 5px;
	width:100%;
	background:white;
	border-radius:8px;
	transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
}
.top {
	top:18%;
}
.middle {
	top:48%;
}
.bottom {
	top:78%;
}
.icon.close .top {
	transform:rotate(45deg);
	top:48%;
}
.icon.close .middle, .icon.close .bottom {
	transform:rotate(-45deg);
	top:48%;
}

/* CAREERS PAGE */
.careers-container {
  position: relative;
  /* top: 20vh; */
}

.careers-container h2 {
  position: relative;
  top: 17vh;
  padding: 0em;
  margin: 0em;
  text-align: center;
  font-weight: 700;
  color: black;
  /* border: 1px solid red; */
}

.job-card {
  position: relative;
  /* top: 20vh; */
  margin: 0 1em;
  padding: .5em 0em;
  border-bottom: 1px solid lightgray;
}

.job-card a {
  text-decoration: none;
  color: #019edb;
  font-weight: 600;
}

.job-card a, h5 {
  margin: 0em;
}

.job-card h5 {
  margin-top: .2em;
}

.job-container {
  position: relative;
  top: 20vh;
  min-height: 350px;
  max-height: 350px;
  /* border: 5px solid red; */
  overflow: auto;
  margin: 0em;
  padding: 0 1em;
}

.corporate-sales-container {
  position: relative;
  text-align: center;
  top: 15vh;
  margin: 0em;
  /* border: 1px solid red; */
}
.corporate-sales-container p {
  padding: 1em;
  font-size: 16px;

}


.form-container {
  background-image: url('./images/corp-background.jpg');
  background-position: bottom;
  background-size: cover;
}
.form-container h3 {
  padding-top: 2em;
}
/* CAROUSEL */

.carousel {
  /* position: relative; */
  /* top: 12vh; */
  /* min-height: 88vh; */
  /* border: 1px solid red; */
}

.carousel img {
  min-height: 100vh;
  max-width: 100%;
}
.thumbs-wrapper {
  display: none;
  height: 0;
  margin: 0;
  padding: 0;
  border: 1px solid green;
}

.carousel-overlay {
  position: relative;
  top: -100vh;
  min-height: 100vh;
  background-color: black;
  opacity: .4;
  z-index: 999;
}

.store-pic {
  position: relative;
  width: 100%;
  height: 275px;
  top: -130vh;
}

main {
  /* min-height: 1500px; */
  /* max-height: 1500px; */
}

.about h2 {
  color: #019edb;
  font-size: 26px;
  font-weight: 800;
  text-align: center;
  left: 5%;
  width: 90%;

}
.about p {
  font-size: 18px;
  letter-spacing: 1px;
  text-align: start;
  line-height: 25px;
  color: black;
}
.about {
  max-height: 80px;
  position: relative;
  top: -130vh;
  z-index: 2000;
  color: white;
}
.att-landing-logo {
  /* display: inline; */
  left: 20%;
  max-height: 80px;
  width: 60%;
  position: relative;
  top: -140vh;
  z-index: 2000;
}

.landing-para {
  left: 5%;
  max-height: 80px;
  width: 90%;
  position: relative;
  top: -138vh;
  z-index: 2000;
  color: white;
  font-size: 18px;
  text-align: center;
}


.map-container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 30vh;
  height: 110vh;
  border-bottom: solid 1px lightgrey;
}

.map-container div:nth-child(2) {
  position: relative !important;
}


.store-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: scroll;
}

.store-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  margin: .5em 0;
  padding: .5em;
  border-radius: .5em;
  border: solid 1px lightgrey;

}

.store-card p {
  font-size: 14px;
  padding: 0px;
  color: black;
}

.store-card a {
  color: #009edb
}

.find-store-container {
  display: flex;
  flex-direction: column;
}

.find-store-container div:nth-child(2) {
  /* border: 2px solid lightgrey; */
  display: flex;
  flex-direction: column;
  background: #ebebeb;
  padding: 30px;
}
.find-button {
  border: 1px solid #fff;
  padding: 5px 25px;
  font-size: 18px;
  background: rgb(255, 114, 0);
  color: #fff;
  margin-bottom: 1em;
}
.find-store-container p {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  color: black;
  margin-top: 10px;
  margin-left: -1em;

}

.find-store-container select {
  margin-bottom: 2em;
}


.search-bar {

  padding: 8px;
  border: 1px solid white;
}

.find-store-container h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  border-top: 1px solid lightgrey;
  padding-top: .5em;
}
